In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
df=pd.read_csv('Company_Table (1).csv')

In [4]:
df

,CompanyID,Company_Name,Industry,Employee_Count,LinkedIn_Followers
0,C1,American Express,Fincial Services,10001,1701642
1,C2,Accenture in India,Information Technology & Services,10001,1399337
2,C3,Colgate-Palmolive,Consumer Goods,10001,1975214
3,C4,Advance Auto Parts,Retail,10001,101668
4,C5,Novartis India,Pharmaceuticals,10001,111727
...,...,...,...,...,...
282,C283,QuestWorkx,Human Resources,10,2878
283,C284,ACZ Global Pvt Ltd,Human Resources,50,5047
284,C285,Lennox India Technology Centre,Mechanical Or Industrial Engineering,1000,29271
285,C286,Onqanet Technologies Pvt. Ltd.,Information Technology & Services,200,814
286,C287,Zero Gravity Photography,Photography,500,2781

In [5]:
df.isnull().sum()

CompanyID             0
Company_Name          0
Industry              2
Employee_Count        2
LinkedIn_Followers    3
dtype: int64

In [6]:
df.dropna(inplace=True)

In [ ]:
df

In [ ]:
df['Class']=pd.cut(x=df["Employee_Count","LinkedIn_Followers"],
                   bins=[125,3500,5001,7500,np.inf],
                   labels=["Class4","Class3","Class2","Class1"])

In [8]:
df.LinkedIn_Followers.unique()

array(['1701642', '1399337', '1975214', '101668', '111727', '84023',
       '67636', '17774440', '127941', '981227', '516149', '444167',
       '2258970', '647910', '558346', '2154', '660827', '5922917',
       '1242164', '435909', '3007322', '1302821', '108836', '1251058',
       '442595', '21553', '32', '719232', '142128', '615145', '1075143',
       '102725', '90749', '139474', '72352', '1417673', '266728',
       '1205434', '2095', '54333', '53466', '14591', '2221925', '4438',
       '163249', '220860', '499613', '62475', '28308', '43182', '998435',
       '3645053', '230574', '94160', '616381', '3813311', '142187',
       '1096069', '69790', '98792', '444685', '1557165', '601539',
       '189323', '39755', '630166', '14647', '277661', '44879', '171020',
       '42957', '1160704', '65732', '10651643', '89972', '65651',
       '169685', '831255', '224654', '2292', '1816083', '3288', '76573',
       '2777840', '151954', '14405435', '4170257', '480426', '382650',
       '242803', '7486', '4509594', '65866', '333491', '227081', '409137',
       '13671', '2110', '3648', '946', '39172', '2668', '11317', '1146',
       '13694', '2469', '26396', '2812', '3461', '10426', '2055', '1171',
       '34034', '13', '1172', '745', '17', '615', '132', '529', '56', '6',
       '9', '25', '23', '2073841', '3', '1339', '708', '3018', '7',
       '1444', '401', '3039', '133', '136', '2073928', '229016', '76',
       '262', '24806', '30', '42703', '15051', '27366', '54517', '18857',
       '15156', '795', '13050', '49516', '2032291', '565', '6072255',
       '96', '17460', '497397', '15139', '207509', '6983', '20578',
       '4037', '93', '12717', '26284', '8403', '5782', '45224', '1279',
       '72', '4375', '1403', '139', '28630', '100', '243', '111480',
       '13425', '1416744', '4998', '36810', '6175', '10', '1198', '256',
       '449', '5586', '7774', '520', '687', '614', '53430', '6589',
       '19523', '2788', '16413', '34512', '28164', '3044675', '855528',
       '764385', '45066', '234769', '264396', '30048', '5101101', '75719',
       '24385', '14628', '19488', '239980', '63236', '1760160', '260894',
       '64937', '18355', '6475', '120', '3825', '1149075', '1001176',
       '14405502', '3321410', '64576', '115749', '10607460', '642397',
       '2912399', '764411', '27544868', '4170269', '1534350', '4853',
       '283462', '72113', '424', '3640847', '315529', '712805', '1085',
       '151957', '1760206', '4061543', '20483', '636231', '96828',
       '77201', '845719', '339185', '9872', '196183', '1953189',
       '6654058', '332083', '291967', '13587', '148115', '17263708',
       '2855753', '26114780', '36447', '45424', '80745', '446224',
       '224658', '16636', '21819', '98841', '2269', '7040644', '3946',
       '1660195', '2057', '8672', '1182856', '24258', '2878', '5047',
       '29271', '814', '2781'], dtype=object)

In [7]:
df["LinkedIn_Followers"]=df["LinkedIn_Followers"].str.replace("\xa0","")

In [11]:
df["LinkedIn_Followers"]=pd.to_numeric(df["LinkedIn_Followers"],errors="coerce")

In [17]:
df["Employee_Count"]=pd.to_numeric(df["Employee_Count"],errors="coerce")

In [18]:
df.isnull().sum()

CompanyID             0
Company_Name          0
Industry              0
Employee_Count        0
LinkedIn_Followers    0
dtype: int64

In [ ]:
df["CompanyID"].value_counts()

In [20]:
from sklearn.cluster import KMeans
Kmeans=KMeans(4)

In [21]:
new_df=df[['Employee_Count', 'LinkedIn_Followers']]

In [12]:
df.dtypes

CompanyID             object
Company_Name          object
Industry              object
Employee_Count        object
LinkedIn_Followers     int64
dtype: object

In [16]:
df.Employee_Count .unique()

array(['10001', '5000', '200', '10000', '1000', '500', '5001', '50', '10',
       '226', '7', '44', '2467', '2', '32', '14', '110', '19', '239',
       '29', '13', '84', '5', '1', '15', '22', '0', '1038', '120', '1274',
       '294536', '51', '9', '279', '8', '236', '5640', '53', '287', '82',
       '56', '170', '44835', '18568'], dtype=object)

In [15]:
df["Employee_Count"]=df["Employee_Count"].str.replace("\xa0","")

In [22]:
Kmeans.fit(new_df)

KMeans(n_clusters=4)

In [23]:
cluster_value=Kmeans.predict(new_df)

In [24]:
cluster_value

array([0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 2, 0, 0, 0, 0, 2, 0, 0, 2, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0,
       0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 1, 2, 0,
       0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 2, 0, 0, 1, 0, 2, 0, 3, 2, 0, 0, 0, 0, 0, 2, 0, 0,
       0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 1, 2, 3, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [25]:
df["clusters"]=cluster_value

In [26]:
df["clusters"].value_counts()

0    256
2     20
1      6
3      2
Name: clusters, dtype: int64

In [27]:
df

,CompanyID,Company_Name,Industry,Employee_Count,LinkedIn_Followers,clusters
0,C1,American Express,Fincial Services,10001,1701642,0
1,C2,Accenture in India,Information Technology & Services,10001,1399337,0
2,C3,Colgate-Palmolive,Consumer Goods,10001,1975214,0
3,C4,Advance Auto Parts,Retail,10001,101668,0
4,C5,Novartis India,Pharmaceuticals,10001,111727,0
...,...,...,...,...,...,...
282,C283,QuestWorkx,Human Resources,10,2878,0
283,C284,ACZ Global Pvt Ltd,Human Resources,50,5047,0
284,C285,Lennox India Technology Centre,Mechanical Or Industrial Engineering,1000,29271,0
285,C286,Onqanet Technologies Pvt. Ltd.,Information Technology & Services,200,814,0
286,C287,Zero Gravity Photography,Photography,500,2781,0

In [28]:
df.to_csv("clustering-classes.csv")